{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}Dashboard{/block}
{block name="main"}
<div class="jumbotron">
  <div class="container-fluid">
    <h1 class="display-4">Welcome to OrangeSolutions</h1>
    <p class="lead">Good
      {php}
        $hour = date('G');
        if($hour <=3 || $hour >= 20){echo 'Night';}
        elseif($hour < 12){echo 'Morning';}
        elseif($hour < 17){echo 'Afternoon';}
        else{echo 'Evening';}
      {/php}
      , {$Think.session.user.model->user_firstname}!</p>
  </div>
    <div>
    <a href="https://imgbb.com/">
      <img src="https://image.ibb.co/jWfSZx/logo.png" 
      alt="logo" style="width:350px;height:350px;" 
      border="0" 
      align="right"></a>
      <div>
        <h4> Last Visit: </h4><hr>
        <h4> Next Visit: </h4><hr>
        <p> Random things that might be useful to put on the home page</p><p>
      </p></div>
    
        
</div>
{/block}
