<!-- @author: Yinan Zhou and Shi Wang -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="OrangeSolutions is a Patient-Volunteer Management System (PVM) that allows medical professionals to service patients remotely.">
    <title>OrangeSolutions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  </head>

  <body style="padding-top: 3.5rem;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">OrangeSolutions</a>
    </nav>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to OrangeSolutions!</h1>
          <p>OrangeSolutions is a Patient-Volunteer Management System (PVM) that allows medical professionals to service patients remotely.</p>
          <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button"><span class="oi oi-dashboard"></span>&nbsp;Enter Dashboard &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>For Patients</h2>
            <ul>
              <li>Request medical serivce from your computer</li>
              <li>Choose from a list of medical professionals based on their specialties</li>
              <li>Rate the service you recieve</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>For Volunteers</h2>
            <ul>
              <li>Indicate readiness to serve a patient</li>
              <li>Accept patient requests for service</li>
              <li>Display your specialties in your profile</li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
    </main>
    <footer class="container">
      <p>&copy; 2018 OrangeSolutions</p>
    </footer>
  </body>
</html>
