{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}Patient Profile{/block}
{block name="main"}
<h3 class="border-bottom">My Patient Profile</h3>
<form method="POST">
  <div class="form-group">
    <label for="genderSelect">Gender</label>
    <select name="patient_gender" class="form-control" id="genderSelect" required>
      {foreach $gender_options as $k=>$gender_option }
        <option value="{$gender_option}">{$gender_option}</option>
      {/foreach}
    </select>
  </div>
  <div class="form-group">
    <label for="coditionTextarea">Conditions</label>
    <textarea class="form-control" id="coditionTextarea" name="patient_conditions" wrap="hard" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="allergiesTextarea">Allergies</label>
    <textarea class="form-control" id="allergiesTextarea" name="patient_allergies" wrap="hard" rows="5"></textarea>
    <small id="passwordHelpBlock" class="form-text text-muted">For more information on allergies, visit <a href="http://www.aafa.org/page/allergies.aspx" target="_blank">Asthma and Allergy Foundation of America<span data-feather="external-link"></span></a>.</small>
  </div>
  <div class="form-group">
    <label for="medicationsTextarea">Medications</label>
    <textarea class="form-control" id="medicationsTextarea" name="patient_medications" wrap="hard" rows="5" placeholder="Medications you are currently taking"></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Update Profile</button>
</form>
{/block}
