{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}Volunteer Profile{/block}
{block name="main"}
<h3 class="border-bottom">My Volunteer Profile</h3>
<div>
  <img src="https://www.gravatar.com/avatar/{$Think.session.user.model->user_email|trim|strtolower|md5}?s=200&d=mm&r=g"
  class="img-thumbnail"><p style="display: inline-block;"><p style="display: inline-block;">&nbsp;Manage your profile photo via <a href="https://www.gravatar.com/" target="_blank">Gravatar<span data-feather="external-link"></span></a>.</p>
</div>
<form method="POST">
  <div class="form-group">
    <label for="volunteerPhone">Phone Number</label>
    <input type="text" class="form-control" id="volunteerPhone" aria-describedby="phoneHelp" name="volunteer_phone" value="{$v->volunteer_phone}" maxlength="30">
    <small id="phoneHelp" class="form-text text-muted">Your phone number will only be shared with patients whom you accepted service from.</small>
  </div>
  <div class="form-group">
    <label for="descriptionTextarea">Personal Descrption</label>
    <textarea class="form-control" id="descriptionTextarea" name="volunteer_description" wrap="hard" rows="8" maxlength="65534">{$v->volunteer_description}</textarea>
  </div>
  <div class="form-group">
    <p>Manage your specialties via <a href="/volunteer/specialties">My Medical Specialties</a>.</p>
  </div>
  <button class="btn btn-primary" type="submit">Update Profile</button>
</form>
<script>
  {notempty name="alert"}alert({$alert|raw|json_encode});{/notempty}
</script>
{/block}
