{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}{$name} - OrangeSolutions{/block}
{block name="main"}
<div id="profileContainer" class="container main-content profile">
  <img src="https://www.gravatar.com/avatar/{$gravatar_hash}?s=200&amp;d=mm&amp;r=g" class="img-thumbnail">
   <div class="row">
      <div class="col-12 col-sm-12">
         <h1 itemprop="name">
            {$name} <a href="/patient/service_request" class="btn btn-lg btn-primary">Request Service</a>
         </h1>
         <div class="profile-title">
            <h3>
               <span>General Practitioner</span>
            </h3>
            <style>
              .star-checked {color: blue;}
            </style>
            <h5>
              {if is_null($rating)}
              No Rating Data Available
              {else /}
              {:number_format($rating,1)}
              <span class="fa fa-star {egt name="rating" value="1"}star-checked{/egt}"></span>
              <span class="fa fa-star {egt name="rating" value="2"}star-checked{/egt}"></span>
              <span class="fa fa-star {egt name="rating" value="3"}star-checked{/egt}"></span>
              <span class="fa fa-star {egt name="rating" value="4"}star-checked{/egt}"></span>
              <span class="fa fa-star {egt name="rating" value="5"}star-checked{/egt}"></span>
              {/if}
           </h5>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="profile-middle profile-flag col-12 col-sm-12 col-md-10 col-lg-10">
         <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 details-column">
                    <div class="profile-statement details-section">
                       <div class="section profile-personalstatement">
                          {$description|htmlspecialchars|nl2br|raw}
                       </div>
                    </div>
                    <hr />
                    <div class="profile-qualifications details-section">
                       <h3>Qualifications</h3>
                       <ul>
                          <li>
                             <strong>License No. and State:</strong>
                             Not Provided
                          </li>
                       </ul>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 specialties-column">
                    <div class="specialties-section top-border">
                       <h5>Specialties</h5>
                       <div class="spec-list attributes-top">
                          <div class="col-split-xs-1 col-split-md-1">
                             <ul>
                               {volist name="specialties" id="s"}
                               <li class="highlight">
                                  {$s.medical_specialty_name}
                               </li>
                               {/volist}
                             </ul>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>
{/block}
