{extend name="../application/portal/view/dashboard/layout.html" /}
{block name="title"}Volunteer Profile - OrangeSolutions{/block}
{block name="main"}
<div id="profileContainer" class="container main-content profile">
  <img src="https://www.gravatar.com/avatar/?s=200&amp;d=mm&amp;r=g" 
       class="img-thumbnail">
   <div class="row">
      <div class="col-12 ">
         <h1 itemprop="name">
            Jacqueline Giordano 
            <a href="/patient/service_request" 
            class="btn btn-lg btn-primary">Request Service</a>
         </h1>
         <div class="profile-title">
            <h2>
               <span>Specialist</span>
            </h2>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="profile-middle">
         <div class="row">
                    <div class="profile-statement details-section">
                       <div class="section profile-personalstatement">
                          <div class="statementPara">
                             I am a Licensed Professional Counselor (LPC) that has
                            experience in both individual and group counseling in
                            the mental health and substance abuse fields.  
                            I have experience in out-patient counseling and school 
                            counseling.  I have worked with adolescents, young adults,
                            and adults for 15 years and realize that each family is
                            unique, and that treatment needs to be individualized.
                          </div>
                          <div class="statementPara">
                             I am a young, energetic, and professional woman 
                             that enjoys working in the mental health and substance 
                             abuse field.  I am looking for clients who have come 
                             to a crossroad in their life and need to make some 
                             behavioral changes and are just unsure how to do so.
                          </div>
                          <div class="statementPara">
                             I am a cognitive-behavioral counselor that believes
                             you have to change the way you think before you can
                             change the way you act. My approach to counseling
                             involves assessing the problem, defining the goals,
                             and taking action to help you regain control
                             and enhance the quality of your life.
                          </div>
                       </div>
                    </div>
                    <hr />
                    <div class="profile-qualifications details-section">
                       <h3>Qualifications</h3>
                       <ul>
                          <li>
                             <strong>Years in Practice:</strong>
                             10+ Years
                          </li>
                          <li>
                             <strong>School:</strong>
                             Kean University
                          </li>
                          <li>
                             <strong>Year Graduated:</strong>
                             2001
                          </li>
                          <li>
                             <strong>License No. and State:</strong>
                             37PC00296700 New Jersey
                          </li>
                       </ul>
                    </div>
                    <div class="profile-finances details-section">
                       <h3>Finances</h3>
                       <ul>
                          <li>
                             <strong>Avg Cost (per session):</strong> $90 - $110
                          </li>
                          <li>
                             <strong>Sliding Scale:</strong> Yes
                          </li>
                          <li>
                             <strong>Accepts Insurance:</strong> Yes
                          </li>
                       </ul>
                       <div class="spec-subcat attributes-payment-method">
                          <span class="h5">Accepted Payment Methods:</span>
                          <span>Cash</span><span>, Check</span>
                       </div>
                       <div class="spec-list attributes-insurance">
                          <h5 class="spec-subcat">Accepted Insurance Plans</h5>
                          <div class="col-split">
                             <ul class="attribute-list ">
                                <li class="">
                                   Aetna
                                </li>
                                <li class="">
                                   Anthem
                                </li>
                                <li class="">
                                   BlueCross and BlueShield
                                </li>
                                <li class="">
                                   Cigna
                                </li>
                                <li class="">
                                   Empire BlueCross
                                </li>
                                <li class="">
                                   Horizon Healthcare
                                </li>
                                <li class="">
                                   Humana
                                </li>
                                <li class="">
                                   Magellan Behavioral Health
                                </li>
                                <li class="">
                                   MagnaCare
                                </li>
                                <li class="">
                                   Optum
                                </li>
                                <li class="">
                                   Oxford
                                </li>
                                <li class="">
                                   QualCare
                                </li>
                                <li class="">
                                   UnitedHealthcare
                                </li>
                              </ul>
                          </div>
                      </div>
                    </div>
                 <div class="specialties-column">
                    <div class="specialties-section">
                       <h5>Specialties</h5>
                       <div class="spec-list attributes">
                          <div class="col-split">
                             <ul class="attribute-list">
                                <li class="highlight">
                                   Depression
                                </li>
                                <li class="highlight">
                                   Anxiety
                                </li>
                                <li class="highlight">
                                   Self Esteem
                                </li>
                             </ul>
                    </div>
                 </div>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>
{/block}
